.movie-details-container {
    padding: 20px;
    background-color: #1e1e1e; /* Dark background color */
    color: white;
  }
  
  .movie-title {
    color: #ff4c4c; /* Bright red color */
    text-align: left;
    font-size: xx-large;
    margin-bottom: 20px; /* Space between title and details */
  }
  
  .movie-details {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: flex-start;
  }
  
  .movie-poster {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .movie-info {
    max-width: 600px;
  }
  
  .star-icon {
    color: #ff4c4c; /* Bright red color */
  }
  